<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to my name is <%= nom %> <%= prenom %> </p>
    <p>Et mon mail est : <%= email %></p>
  </body>
</html>
